#file_form_wrapper{
    width: 90%;
   margin-top: 5%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#file_form{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#file_form input{
    width: 47.5%;
    height: 2vw;
    margin-bottom: 2%;
    margin-top: 2%;
    border: 1px solid #FFA824;
    font-size: 1vw;
}

#file_form textarea{
    width: 95%;
    height: 14vw;
    margin-bottom: 2%;
    margin-top: 2%;
    border: 1px solid #FFA824;
    resize: none;
    font-size: 1vw;
}

.file_form_header{
    color: #FFA824;
    text-align: center;
    font-size: larger;
}

#file_form input[type="file"]{
    border: none;
}

table, th, td{
    border: 1px solid #FFA824 ;
    font-size: 0.8vw;
}

#existing_files{
margin-top: 5%;
}

#files_list {
    text-decoration: none;
    color: initial; 
    margin-left: 4%;
    margin-right: 4%;
}

a:visited #files_list {
    color: black;
}

h2{
    color: #FFA824;
}

.cut_text_cell_file {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10vw;
}

#file_dashboard_wrapper{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#file_dash_header {
    margin-top: 5%;
    animation: pulseText 2s ease-in-out;
}

@keyframes pulseText {
    0% {
        transform: scale(1); /* Sākuma lielums */
        opacity: 1; /* Sākuma caurspīdīgums */
    }
    50% {
        transform: scale(1.05); /* Vidējais lielums */
        opacity: 0.8; /* Vidējais caurspīdīgums */
    }
    100% {
        transform: scale(1); /* Beigu lielums */
        opacity: 1; /* Beigu caurspīdīgums */
    }
}

.file_posts{
    min-width: 50vw;
    max-width: 50vw;
    background-color:#f3f3f3;
    border-radius: 10px;
   
    padding-left: 2%;
    padding-right: 2%;
    transition: text-shadow 0.3s ease;
    margin-bottom: 2%;
    margin-top: 2%;
}

.file_posts a{
    display: inline-block;
    color:rgb(21, 32, 161);
    font-size: medium;
    font-weight: 500;
    text-decoration-line: none;
    margin-top: .3vw;
    margin-bottom: .3vw;
    transition: text-shadow 0.3s ease;
    cursor: pointer;
}

.file_posts a:hover{
    transform: scale(1.02);
}

.file_posts a:visited{
    color: #761a9d;
}

.file_posts:hover{
    transform: scale(1.02);
}

.file_dashboard{
    color: #FFA824;
    font-size: larger;
}

.file_post_content{
    color: black;
    font-weight:550;
}

.file_post_info{
   text-align: right;
    color: #FFA824;
    font-weight: 550;
}