*{
    box-sizing: border-box;
}
body{
    width: 87vw;
    height: 100vw;
    margin: auto;
    font-family: Mono, monospace;
}

#wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 2.5%;
    width: 100%;
    min-height: 98vw;
    background-image: linear-gradient(to right bottom, #0046a0, #004bb2, #0050c4, #0054d7, #0458e9);
    border-radius: 5px;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
   height: 10vw;
   position: relative;

}


#welcome{
    width: 49%;
    height: 70%;
    text-align: center;
    font-size: 1.3vw;
    color: white;
    font-weight: 200;
    white-space: nowrap;
    overflow: hidden;
    animation: reveal 2s forwards;   
}

#welcome p {
  margin-right: 5%;
}

.animated {
  animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

#logo{
    width: 49%;
    height: 60%;
    
    
}
#logo img{
    width: 80%;
    height: 100%;
    margin-left: 5%;
}

@keyframes cloud_move {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }

  #cloud_1 {
    z-index: 3;
    position: absolute;
    top: 31%;
    right: -30%;
    width: 40%;
    height: 125%;
    animation: cloud_move 4s infinite linear alternate; /* 4s - animation duaration, infinite - repeat all time, linear - linear movement, alternate - change direction*/
  }
  /* cloud img 2 */
  #cloud_2 {
    z-index: 2;
    position: absolute;
    top: 29%;
    right: -37%;
    width: 36%;
    height: 107%;
    animation: cloud_move 3s infinite linear alternate; 
  }
#container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 65vw;
    background-color: white;
    border-radius: 5px;
}

#control_panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 18%;
    height: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    border-right-width: 5px;
    border-right-style: solid;
    border-color: white;

}

#control_panel img{
    width: 100%;
    height: 75%;
}

.cp_button{
    width: 90%;
    height: 6%;
    padding: none;
    margin-top: 6%;
    margin-bottom: 6%;
    border: none;
    background: transparent;
}
#alerts_button{
 position: relative;
}
#alerts_button img{
  z-index: 1;
  width: 100%;

}
#alert_count{
  z-index: 2;
  position: absolute;
  transform: translate(-50%, -50%);
  left:69%;
  top: 48%;
  color: red;
  font-size: 1.4vw;
  font-weight: 600;
}

#messages_button{
  position: relative;
}

#messages_button img{
  z-index: 1;
}

#message_count{
  z-index: 2;
  position: absolute;
  transform: translate(-50%, -50%);
  left:92%;
  top: 48%;
  color: red;
  font-size: 1.4vw;
  font-weight: 600;
  
}


#logout_button{
margin-top: auto;
margin-bottom: 10%;
width: 75%;
height: 5%;
background-color: #FFA824;
border: none;
border-radius: 15px;
}
#logout_button:hover{
box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2), 0 16px 20px 10px rgba(0,0,0,0.19); 
transform: scale(1);
}
#std_icon{
    font-size: 1.7vw;
}
.link{
color: white;
text-decoration-line: none;
font-family: Mono, monospace;
font-size:1.5vw;
font-weight: bold;
}
#main{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
}
#side_bar{
    width: 17%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    
}

#prof_pic{
    width: 45%;
    height: 9%;
    background-size: cover;
    background-position: center;
    border-radius: 50%; /* Circle */
    margin-top: 25%;
    margin-bottom: 5%;
}
#settings_button{
margin-bottom: 10%;
width: 55%;
height: 4%;
background-color: #FFA824;
border: none;
border-radius: 15px;
}
#settings_button:hover{
box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2), 0 16px 20px 10px rgba(0,0,0,0.19); 
transform: scale(1);
}
#settings_link{
    color: white;
    text-decoration-line: none;
    font-family: Mono, monospace;
    font-size:1.2vw;
    font-weight: bold;
}

#online_bar{
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#online_bar h3{
  color: #FFA824;
  text-align: center;
}
.user_online{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  height: 2.7vw;
  margin-bottom: .5%;
}
.online_dot {
  display: inline-block;
  width: .9vw; /* Iestatiet punkta (apļa) izmēru */
  height: .9vw; /* Iestatiet punkta (apļa) izmēru */
  border-radius: 50%; /* Iestatiet apļa formu */
  background-color: #1AFE03; /* Iestatiet punkta (apļa) fona krāsu */
  margin-left: 5%;
  margin-right: 5%;
}
.userCred{
  color: #0046a0 !important;
  font-weight: 600 !important;
  font-size: 1vw;
  max-height: 2vw;
}

.other_user_email{
 
  color:  #0046a0 !important;
  cursor: pointer;
}
.other_user_email a:visited {
  color: #0046a0 !important;
}

#online_info_link{
  text-decoration-line: none;
  transition: text-shadow 0.3s ease;
}

#online_info_link:hover{
  transform: scale(1.1); 
}

#sub_content{
   display: flex;
   flex-direction: row;
   align-items:flex-end ;
   justify-content: flex-end;
    width: 100%;
    height: 25vw;
    position: relative;
}
#imgage_section{
    width: 50%;
}
#footer{
    width: 50%;
    margin-top: auto;
    text-align: left;

    color: white;
}

@keyframes rocket_move {
    0% {
      transform: translateY(0) translateX(0);
    }
    25% {
      transform: translateY(-6px) translateX(4px);
    }
    50% {
      transform: translateY(-12px) translateX(9px);
    }
    75% {
      transform: translateY(-18px) translateX(19px);
    }
    100% {
      transform: translateY(-24px) translateX(20px);
    }
  }
  
  
  
#sub_content img{
    margin-left: 45%;
    margin-bottom: 5%;
    width: 40%;
    height: 75%;
    transform: rotate(6deg);
    animation: rocket_move 3s infinite linear alternate; /* 4s - animation duaration, infinite - repeat all time, linear - linear movement, alternate - change direction*/
}
