#messages_wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#messages_cpanel{
    margin-top: 7%;
    width: 100%;
    height: 4vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px dashed #FFA824;
}
#messages_cpanel a{
    color: #FFA824;
    text-decoration-line: none;
}

#message_form_wrapper{
    width: 90%;
   margin-top: 1%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
#message_form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#message_form input{
    width: 47.5%;
    height: 2vw;
    margin-bottom: 2%;
    margin-top: 2%;
    border: 1px solid #FFA824;
    font-size: 1vw;
}

#message_form textarea{
    width: 95%;
    height: 14vw;
    margin-bottom: 2%;
    margin-top: 2%;
    border: 1px solid #FFA824;
    resize: none;
    font-size: 1vw;
}

#message_form_header{
    color: #FFA824;
    text-align: center;
    font-size: 1.5vw;
    font-weight: inherit;
}

#message_form select{
    min-width: 23vw;
    max-height: 2vw;
    display: block;
    text-align: center;
}


#message_form input[type="file"]{
    border: none;
}



#addRecipient{
    display:inline-block;
    width: 7vw;
    height: 1.8vw;
    background-color: #FFA824;
    color: white;
    border-radius: 10px;
    border:none;
    cursor: pointer;
    transition: text-shadow 0.3s ease;
    margin-bottom: 2%;
    font-size: 0.8vw;
    font-weight: 600;
}

#addRecipient:hover{
    transform: scale(1.1); 
}

#removeRecipient{
    background-color: #FFA824;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: text-shadow 0.3s ease;
}
#removeRecipient:hover{
    transform: scale(1.1); 
}

#recipients{
    margin-bottom: 2%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
   
}

.recipient{
    margin-left: 2%;
}

.mailbox_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
}

.inbox_message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50vw !important;
    cursor: pointer;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 1px solid white;
    border-radius: 3px;

}

.message_info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-width: 100% !important;
    min-height: 2.5vw;
}

.message_content{
    max-width: 50vw;
    min-width: 50vw;
    background-color:rgb(243, 243, 243);
    padding-top: 1%;
 
}
.message_subject{
    font-weight: 530;
    max-width: 29vw;
    min-width: 29vw;
 
}
.message_sender{
    max-width: 12vw;
    min-width: 12vw;
    font-weight: 530;
}
.message_content{
    cursor: text;
}
#reply_button{
    font-size: 1.2vw;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 500;
}

#reply_button a{
    text-decoration: none;
    text-decoration-line: none;
    color: #FFA824;
}
.noMessages{
    display: block;
    color: #FFA824;
    font-size: 1.4vw;
    animation: vibrate 0.35s infinite; /* Animation duration is 0.3s */
    animation-delay: 0s; /* Start the animation immediately */
    animation-iteration-count: 2; /* Run the animation 5 times */
}

@keyframes vibrate {
    0% { transform: translateX(0); }
    25% { transform: translateX(-1px); }
    50% { transform: translateX(1px); }
    75% { transform: translateX(-1px); }
    100% { transform: translateX(1px); }
}


#notRead{
    background-color: #8dc6ff;
}

#read{
    background-color: #e4f1fe;
}