#wrapper_blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

#title_field{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 2%;
    margin-top: 5%;
    
}
#blog_title{
    background-color: #f3f3f3;
    border-radius: 7px;
    font-size: 1.8vw;
}

#content_field{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2%;
}
#blog_content{
    background-color: #f3f3f3;
    border-radius: 7px;

}
#author_field{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
#blog_author{
    background-color: #f3f3f3;
    border-radius: 7px;
}

#news_form_wrapper{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 8%;
    font-size: large;
}

#news_form input{
    border: 1px solid #FFA824;
    margin-bottom: 2%;
    margin-top: 2%;
}
#news_form{
    display: flex;
    flex-direction: column;
}

#news_title, #news_author{
    width: 40%;
    height: 2vw;
    font-size: 1vw;
}

#news_content{
    width: 100%;
    height: 20vw;
    border: 1px solid #FFA824;
    resize: none;
    font-size: 1vw;
    margin-top: 2%;
    margin-bottom: 2%;
    
}

#existing_news{
    margin-top: 5%;
}

#edit_newslist {
    text-decoration: none;
    color: initial; 
}
a:visited #edit_newslist {
    color: black;
}
.cut_text_cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 14vw;
}

